.container {
    position: absolute;
    display:flex;
    margin-left: 380px;
    margin-top: -27px;
    justify-content: end;
}

.input {
    background-color: #f7f7ff6b;
    color: rgba(255, 255, 255, 0.896);
    border-radius: 6px;
    padding: 8px;
    width: 250px;
    border: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.boton {
    position: absolute;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 2px solid rgba(63, 63, 87, 0);
    background-color: rgba(191, 223, 190, 0);
    margin-left: -45px;
    margin-top: 8px;
}

.boton:hover {
    cursor: pointer;
    /* font-size: 32px; */
    text-shadow: 0px 0px 2px #ffffff, 0px 0px 2px #ffffff, 0 0 2px #ffffff;
}